<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>DBMSProJectOne</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Alerts</servlet-name>
    <servlet-class>controller.Alerts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Alerts</servlet-name>
    <url-pattern>/alerts</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>InsertNominalRecord</servlet-name>
    <servlet-class>controller.InsertNominalRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertNominalRecord</servlet-name>
    <url-pattern>/addNominalRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetEnteries</servlet-name>
    <servlet-class>controller.GetEnteries</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEnteries</servlet-name>
    <url-pattern>/getEnteries</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginPatient</servlet-name>
    <servlet-class>controller.LoginPatient</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>loginCommon</servlet-name>
    <servlet-class>controller.LoginCommon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginCommon</servlet-name>
    <url-pattern>/loginCommon</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginPatient</servlet-name>
    <url-pattern>/loginPatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>profile</servlet-name>
    <servlet-class>controller.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profile</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>diagnoses</servlet-name>
    <servlet-class>controller.Diagnoses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>diagnoses</servlet-name>
    <url-pattern>/diagnoses</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>diagnosesAdd</servlet-name>
    <servlet-class>controller.DiagnosesAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>diagnosesAdd</servlet-name>
    <url-pattern>/diagnosesAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>diagnosesRemove</servlet-name>
    <servlet-class>controller.DiagnosesRemove</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>diagnosesRemove</servlet-name>
    <url-pattern>/diagnosesRemove</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>healthInd</servlet-name>
    <url-pattern>/healthInd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>healthInd</servlet-name>
    <servlet-class>controller.HealthIndicator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateObservations</servlet-name>
    <url-pattern>/updateObservations</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateObservations</servlet-name>
    <servlet-class>controller.ObservationUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addRecords</servlet-name>
    <url-pattern>/addRecords</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addRecords</servlet-name>
    <servlet-class>controller.AddRecords</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>profileUpdate</servlet-name>
    <servlet-class>controller.ProfileUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profileUpdate</servlet-name>
    <url-pattern>/profileUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginHS</servlet-name>
    <servlet-class>controller.LoginHS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginHS</servlet-name>
    <url-pattern>/loginHS</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PatientSignUp</servlet-name>
    <servlet-class>controller.PatientSignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientSignUp</servlet-name>
    <url-pattern>/patientSignUp</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>init.InitListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>signUp</servlet-name>
    <servlet-class>controller.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signUp</servlet-name>
    <url-pattern>/signUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>hSSignUp</servlet-name>
    <servlet-class>controller.HSSignup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hSSignUp</servlet-name>
    <url-pattern>/hSSignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logOut</servlet-name>
    <servlet-class>controller.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logOut</servlet-name>
    <url-pattern>/logOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>edit_hs_profile</servlet-name>
    <servlet-class>controller.EditHSProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>edit_hs_profile</servlet-name>
    <url-pattern>/edit_hs_profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>update_hs_profile</servlet-name>
    <servlet-class>controller.UpdateHSProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update_hs_profile</servlet-name>
    <url-pattern>/update_hs_profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>list_of_patients</servlet-name>
    <servlet-class>controller.ListHSPatients</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>list_of_patients</servlet-name>
    <url-pattern>/list_of_patients</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>list_of_health_supporters</servlet-name>
    <servlet-class>controller.ListHealthSupporters</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>list_of_health_supporters</servlet-name>
    <url-pattern>/list_of_health_supporters</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>update_hs</servlet-name>
    <servlet-class>controller.UpdateHealthSupporter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update_hs</servlet-name>
    <url-pattern>/update_hs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>remove_hs</servlet-name>
    <servlet-class>controller.RemoveHealthSupporter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetPatientHS</servlet-name>
    <url-pattern>/set_patient</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SetPatientHS</servlet-name>
    <servlet-class>controller.SetPatientHS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>remove_hs</servlet-name>
    <url-pattern>/remove_hs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>list_health_indicators</servlet-name>
    <servlet-class>controller.ListHealthIndicator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>list_health_indicators</servlet-name>
    <url-pattern>/list_health_indicators</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>add_nominal_obs</servlet-name>
    <servlet-class>controller.AddNominalObservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_nominal_obs</servlet-name>
    <url-pattern>/add_nominal_obs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>create_nominal_observation</servlet-name>
    <servlet-class>controller.CreateNominalObservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>create_nominal_observation</servlet-name>
    <url-pattern>/create_nominal_observation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>add_ordinal_obs</servlet-name>
    <servlet-class>controller.AddOrdinalObservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_ordinal_obs</servlet-name>
    <url-pattern>/add_ordinal_obs</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>create_ordinal_observation</servlet-name>
    <servlet-class>controller.CreateOrdinalObservation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>create_ordinal_observation</servlet-name>
    <url-pattern>/create_ordinal_observation</url-pattern>
  </servlet-mapping>
   <servlet>
  <servlet-name>add_ordinal_record</servlet-name>
    <servlet-class>controller.AddOrdinalRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_ordinal_record</servlet-name>
    <url-pattern>/add_ordinal_record</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>add_ordinal_record_values</servlet-name>
    <servlet-class>controller.AddOrdinalRecordValues</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_ordinal_record_values</servlet-name>
    <url-pattern>/add_ordinal_record_values</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>add_ordinal_record_final</servlet-name>
    <servlet-class>controller.AddOrdinalRecordFinal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add_ordinal_record_final</servlet-name>
    <url-pattern>/add_ordinal_record_final</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>remove_alert</servlet-name>
    <servlet-class>controller.RemoveAlert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>remove_alert</servlet-name>
    <url-pattern>/remove_alert</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>init.InitListener</listener-class>
  </listener>
</web-app>