<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>DBMSProJectOne</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>loginPatient</servlet-name>
	<servlet-class>controller.LoginPatient</servlet-class>
   </servlet>
   <servlet-mapping>
	<servlet-name>loginPatient</servlet-name>
	<url-pattern>/loginPatient</url-pattern>
   </servlet-mapping>
   <servlet>
  	<servlet-name>profile</servlet-name>
	<servlet-class>controller.Profile</servlet-class>
   </servlet>
   <servlet-mapping>
	<servlet-name>profile</servlet-name>
	<url-pattern>/profile</url-pattern>
   </servlet-mapping>
    <servlet>
  	<servlet-name>profileUpdate</servlet-name>
	<servlet-class>controller.ProfileUpdate</servlet-class>
   </servlet>
   <servlet-mapping>
	<servlet-name>profileUpdate</servlet-name>
	<url-pattern>/profileUpdate</url-pattern>
   </servlet-mapping>
   <servlet>
  	<servlet-name>loginHS</servlet-name>
	<servlet-class>controller.LoginHS</servlet-class>
   </servlet>
   <servlet-mapping>
	<servlet-name>loginHS</servlet-name>
	<url-pattern>/loginHS</url-pattern>
   </servlet-mapping>
   <servlet>
  	<servlet-name>successSignUp</servlet-name>
	<servlet-class>controller.SignUp</servlet-class>
   </servlet>
   <servlet-mapping>
	<servlet-name>successSignUp</servlet-name>
	<url-pattern>/successSignUp</url-pattern>
   </servlet-mapping>
	<listener>
	   <listener-class>init.InitListener</listener-class>
	</listener>
</web-app>